body {
}
.loader {
   border: 16px solid #f3f3f3;
   border-radius: 50%;
   border-top: 16px solid blue;
   border-bottom: 16px solid blue;
   width: 80px;
   height:80px;
   -webkit-animation: spin2s linear infinite;
   animation: spin2s liner infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@media only screen and (max-width:768px) {
   
.yearTextField{

    padding:14px;
}

}
.input-bar {
    display: table;
    width: 100%;
}

.input-bar-item > button {
    margin-left: 5px;
}

.width100 {
  width: 100%;
}
.input-bar .form-group {
    float: left;
    vertical-align: middle;
    width: 90%;
}
.input-bar-item-btn {
  float: left;
  width:10%;
}


 @media only screen  and (max-width: 1200px)  {
      /* For portrait layouts only */

      .inlineCSS{

    padding:10px;
}

    }
